.Header {
  z-index: 1030;
  background-color: rgba(0, 0, 0, 0.75);
}

.nav-link {
  color: green;
}

.Header-home {
}

.Header-container {
}

.Header-item {
  animation: fadein 2s;
}

.Header-button {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.Header-goto-top {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 30px;
  bottom: 30px;
  background: none;
  fill: green;
  border: none;
}

@media (min-width: 600px) {
}
