.Header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.Header-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.Header-navbar {
  margin-left: auto;
}

.Header-logo {
  margin-right: auto;
  width: 200px;
}

.Header-links {
  display: flex;
  align-content: middle;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.Header-links li {
  list-style: none;
  margin-left: 1em;
  transform: translateY(50%);
}

.Header .active {
  color: green;
}

.Header-icon {
  background: transparent;
  display: none;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  width: 75px;
  height: 75px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  justify-content: space-between;
}

.Overlay__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 133.33px;
  height: 91.66px;
  background: transparent;
  border: none;
}

.Overlay__items {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  padding: 0;
}

.Overlay__item {
  text-align: center;
  height: 50px;
}

@media screen and (max-width: 600px) {
  .Header-logo {
    display: block;
  }

  .Header-links {
    display: none;
  }

  .Header-icon {
    display: block;
  }
}
