.Header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.Header-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.Header-navbar {
  margin-left: auto;
}

.Header-logo {
  margin-right: auto;
  width: 200px;
}

.Header-links {
  display: flex;
  align-content: middle;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.Header-links li {
  list-style: none;
  margin-left: 1em;
  transform: translateY(50%);
}

.Header .active {
  color: green;
}

.Header-icon {
  background: transparent;
  display: none;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  width: 75px;
  height: 75px;
}

.Header-goto-top {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 30px;
  bottom: 30px;
  background: none;
  fill: green;
  border: none;
}

@media screen and (max-width: 600px) {
  .Header-logo {
    display: block;
  }

  .Header-links {
    display: none;
  }

  .Header-icon {
    display: block;
  }
}
