@import "../../stylesheets/_variables.css";

:local .Portfolio {
  position: relative;
  color: green;
}

:local .Portfolio > h1 {
  text-align: center;
}

:local .Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
