.Nav {
  z-index: 1030;
  background-color: rgba(0, 0, 0, 0.75);
}

.nav-link {
  color: green;
}

.Nav-home {
  color: green;
}

.Nav-container {
}

.Nav-item {
  animation: fadein 2s;
}

.Nav-button {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}
